Repository tchapgouv/matrix-react-sdk, pull requests merged in 2019-11, with the labels that each got.

#297 i18n : Wording
  src/RoomInvite.js
  src/i18n/strings/en_EN.json
  src/i18n/strings/fr.json
Labels: i18n

#294 i18n : corrections orthotypographiques
  src/i18n/strings/fr.json
Labels: i18n

#296 Bug fix : "Restricted" border on room avatar are not correctly shown
  src/Tchap.js
  src/components/views/rooms/RoomTile.js
Labels: bug

#293 Global : Temporarily disable Key Backup
  src/components/views/dialogs/LogoutDialog.js
  src/components/views/settings/tabs/user/SecurityUserSettingsTab.js
  src/settings/Settings.js
Labels: update

#298 Update desing + change some wording
  res/css/views/rooms/_EventTile.scss
  res/css/views/rooms/_RoomTile.scss
  res/themes/light/css/_light.scss
  res/themes/tchap/css/_tchap.scss
  src/async-components/views/dialogs/EncryptedEventDialog.js
  src/i18n/strings/en_EN.json
  src/i18n/strings/fr.json
Labels: design, i18n
